<!-- Sponsor Logo -->
<div class="section">
  <h4 class="sponsor">ORGANIZED BY</h4>
  <ul class="sponsor">
    <li><img src="{{ site.baseurl }}/assets/img/logo-jfb.jpg" title="Jogja Folding Bike"></li>
  </ul>
  <h4 class="sponsor">SUPPORTED BY</h4>
  <ul class="sponsor spzero">
    <li><img src="{{ site.baseurl }}/assets/img/logo-kai.jpg" title="PT. Kereta Api Indonesia (Persero)"></li>
  <ul>
  <ul class="sponsor spone">
    <li><img class="sesatu" src="{{ site.baseurl }}/assets/img/logo-sesatu.jpg" title="SESATU"></li>
    <li><img src="{{ site.baseurl }}/assets/img/logo-sesat.jpg" title="SESAT Indonesia"></li>
    <li><img src="{{ site.baseurl }}/assets/img/logo-zuna-sport.jpg" title="Zuna Sport"></li>
  <ul>
  <ul class="sponsor sptwo">
    <li><img src="{{ site.baseurl }}/assets/img/logo-indrajaya-bike.jpg" title="Indrajaya Bike"></li>
    <li><img src="{{ site.baseurl }}/assets/img/logo-ksp.jpg" title="Panca Mandiri Sejahtera"></li>
  <ul>
  <!--
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <br>
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  -->
</div>
