<!-- Sponsor Logo -->
<div class="section sponsor flexcontainer">
  <div class="flexhead"><h4>ORGANIZED BY</h4></div>
  <img src="{{ site.baseurl }}/assets/img/logo-jfb.jpg">

  <div class="flexhead"><h4>SUPPORTED BY</h4></div>
  <img class="spone" src="{{ site.baseurl }}/assets/img/logo-sesatu.jpg">
  <!--
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <br>
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  -->
</div>
