<!-- Sponsor Logo -->
<div class="section sponsor flexcontainer">
  <div class="flexhead"><h4>ORGANIZED BY</h4></div>
  <img src="{{ site.baseurl }}/assets/img/j150k-logo-jfb-dark.png">
  <!--
  <div class="flexhead"><h4>SUPPORTED BY</h4></div>
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <br>
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  <img src="https://via.placeholder.com/160x80">
  -->
</div>
